registry=https://registry.npmjs.org/
@poliedro:registry=https://pkgs.dev.azure.com/poliedro/_packaging/npm-poliedro/npm/registry/
always-auth=true
//pkgs.dev.azure.com/poliedro/_packaging/npm-poliedro/npm/registry/:username=poliedro
//pkgs.dev.azure.com/poliedro/_packaging/npm-poliedro/npm/registry/:_password=N3kzSXlHS0dnUVBBdDVJMnhWY2V5empsaEFEMkxVV0FnVzNaRjVuUlhKUHJWNGlsaDRwbUpRUUo5OUNHQUNBQUFBQUJwMHVGQUFBU0FaRE81OVpo
//pkgs.dev.azure.com/poliedro/_packaging/npm-poliedro/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/poliedro/_packaging/npm-poliedro/npm/:username=poliedro
//pkgs.dev.azure.com/poliedro/_packaging/npm-poliedro/npm/:_password=N3kzSXlHS0dnUVBBdDVJMnhWY2V5empsaEFEMkxVV0FnVzNaRjVuUlhKUHJWNGlsaDRwbUpRUUo5OUNHQUNBQUFBQUJwMHVGQUFBU0FaRE81OVpo
//pkgs.dev.azure.com/poliedro/_packaging/npm-poliedro/npm/:email=npm requires email to be set but doesn't use the value
email=npm requires email to be set but doesn't use the value
